# Key information - DO NOT CHECK-IN
key.key
tweet_sentiment/etc/oauth.json

# Mac related Files
.DS_Store

# R-Related Files
.RDataTmp
.Rhistory

# tweet_sentiment related files
tweet_sentiment/data/*
!tweet_sentiment/data/README

# Python Cache
tweet_sentiment/scripts/__pycache__/*

log.txt
